body {
    background-color: #222 !important;
    color: #fff !important;
    a {
        color: #FFCF01;
        ;
    }
}
.header  {
    height: 859px;
    display: flex;
    flex-direction: column;
    position: relative;
        .gradient {
            position: absolute;
            height: 260px;
            bottom: 0;
            width: 100%;
            z-index: 2;
            background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #222222 35.42%);
        }
    .cnt {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        flex: 1;
        .left {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 5;
            h1 {
                font-size: 70px;
                font-weight: 800;
                margin-bottom: 30px;
                margin-top: 0;
            }
            p {
                font-size: 24px;
                margin-bottom: 30px;
            }
            a.btn-start {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: #333;
                text-decoration: none;
                height: 60px;
                width: 270px;
                background-color: #FFCF01;
                border-radius: 24px;
                font-weight: 600;
                font-size: 18px;
                span {

                }
            }
        }
        .right {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            img {
                width: 344px;
                height: auto;
                display: block;
            }
        }
    }
    
}
.feature {
    background: linear-gradient(180deg, #222222 0%, #333333 100%);
    overflow: hidden;
    height: 784px;
    .cnt {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 68px;
            text-align: center;
        }
        .feature-box {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            .feature-item {
                width: 46%;
                display: flex;
                flex-direction: row;
                margin-bottom: 50px;
                img {
                    width: 56px;
                    height: 56px;
                    display: block;
                }
                .textitem  {
                    flex: 1;
                    margin-left: 20px;
                    h3 {
                        color: #FFCF01;
                        font-size: 24px;
                        margin-bottom: 24px;
                        margin-top: 0;
                    }
                    p {
                        font-size: 18px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.company {
    height: 743px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #333333 0%, #444444 100%);
    .cnt {
        max-width: 956px;
        text-align: center;
        h3 {
            font-weight: 800;
            font-size: 78px;
            color: #FFCF01;
            margin-bottom: 40px;
        }
        p {
            font-size: 40px;
        }
    }
}

@media (max-width:1200px) {
    .header {
        height: 685px;
        .cnt {
            max-width: 900px;
            .left {
                h1 {
                    font-size: 62px;
                }
                p {
                    font-size: 24px;
                }
            }
            .right {
                img {
                    width: 290px;
                }
            }
        }
    }
    .feature {
        .cnt {
            max-width: 900px;
            h2 {
            }
            .feature-box {
                .feature-item {
                    img {
                    }
                    .textitem  {
                        h3 {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
    .company {
        height: 591px;
        .cnt {
            max-width: 900px;
            h3 {
                font-size: 64px;
            }
            p {
                font-size: 32px;
            }
        }
    }
}
@media (max-width:900px) {
    .header {
        height: auto;
        overflow: hidden;
        padding-bottom: 50px;
        padding-top: 40px;
        .gradient {
            top: 270px;
        }
        .cnt {
            max-width: 720px;
            flex-direction: column;
            .left {
                order: 2;
                width: 100%;
                align-items: center;
                text-align: center;
                margin-top: -100px;
                h1 {
                    font-size: 40px;
                }
                p {
                    font-size: 20px;
                }
            }
            .right {
                order: 1;
                width: 100%;
                justify-content: flex-start;
                overflow: hidden;
                height: 450px;
                align-items: center;
                img {
                    width: 290px;
                }
            }
        }
    }
    .feature {
        height: auto;
        overflow: hidden;
        padding: 40px 0;
        .cnt {
            max-width: 720px;
            h2 {
                font-size: 34px;
            }
            .feature-box {

                .feature-item {
                    img {
                    }
                    .textitem  {
                        h3 {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
    .company {
        height: auto;
        overflow: hidden;
        padding: 40px 0;
        .cnt {
            max-width: 505px;
            h3 {
                font-size: 40px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}
@media (max-width:700px) {
    .header {
        .gradient {
            top: 270px;
        }
        .cnt {
            padding: 0 20px;
            .left {
                h1 {
                    font-size: 40px;
                }
                p {
                    font-size: 20px;
                }
            }
            .right {
                img {
                }
            }
        }
    }
    .feature {
        .cnt {
            h2 {
                font-size: 34px;
            }
            .feature-box {
                overflow-x: scroll;
                padding: 0;
                flex-wrap: nowrap !important;
                overflow-y: hidden;
                .feature-item {
                    width: 260px !important;
                    flex-shrink: 0;
                    margin-left: 20px;
                    img {
                    }
                    .textitem  {
                        h3 {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
    .company {
        .cnt {
            padding: 20px;
            h3 {
                font-size: 40px;
            }
            p {
                font-size: 18px;
            }
        }
    }
}

@media (max-width:12px) {
    .header {
        .cnt {
            max-width: 740px;
            .left {
                h1 {

                }
                p {

                }
            }
            .right {
                img {

                }
            }
        }
    }
    .feature {
        .cnt {
            max-width: 740px;
            h2 {
            }
            .feature-box {
                .feature-item {
                    img {
                    }
                    .textitem  {
                        h3 {
                        }
                        p {
                        }
                    }
                }
            }
        }
    }
    .company {
        .cnt {
            max-width: 740px;
            h3 {
            }
            p {
            }
        }
    }
}